hg clone git@github.com:takelwerk/molecule-default ansible/molecule/default
hg clone git@github.com:takelwerk/molecule-image ansible/molecule/image
hg clone git@github.com:takelwerk/takel_cleanup ansible/roles/takel_cleanup
hg clone git@github.com:takelwerk/packer-takelage-docker packer/templates/takelage/docker
hg clone git@github.com:takelwerk/rake-ansible.git rake/ansible
hg clone git@github.com:takelwerk/rake-images.git rake/images
hg clone git@github.com:takelwerk/rake-meta.git rake/meta
hg clone git@github.com:takelwerk/rake-rubylint.git rake/rubylint
