---
name: <%= name %>
version: 0.1.0

images:
  project:
    base_user: takelwerk
    base_repo: takelslim
    base_tag: latest
    layers:
      - site
    target_user: takelwerk
    target_repo: <%= name %>

local_user: packer_local
