---
scopes:
  takelage.ansible:
  - name: ansible/molecule/default
  - name: ansible/molecule/image
  - name: ansible/roles/takel-cleanup
  takelage.packer:
  - name: packer/templates/takelage/docker
  takelage.rake:
  - name: rake/ansible
  - name: rake/images
  - name: rake/meta
  - name: rake/rubylint
